.SearchBar__input-group {
    display: flex;
}

.SearchBar__input-group input {
    height: 3.75rem;
    margin-right: 0.5rem;
}

.SearchBar__input-group label {
    font-size: 0.875rem;
}

.SearchBar button {
    padding: 1.125rem 2.125rem !important;
}

@media (min-width: 48em) {

    .SearchBar {
        width: calc(50% - 1rem);
    }    
}
