.CampervansUI {
    background-color: #1E8908 !important;
    color: #E5EAE3 !important;
    font-weight: bold;
}

.CampervansTitle {
    color: #38393C;
    font-weight: bold; 
}

.CampervansDescription {
    color: #67757F;
    font-weight: bold;
}